{% extends "_base.html" %}

{% block nav_class_index %}active{% endblock %}

{% block body %}
<form class="form-horizontal">
    <fieldset>
        <legend>OpenVPN</legend>
        <div class="row">
            <div class="span8">
                <div class="control-group">
                    <label for="openvpn-select-server" class="control-label">
                        Select server
                    </label>
                    <div class="controls">
                        <select id="openvpn-select-server"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="openvpn-select-server" class="control-label">
                        Port
                    </label>
                    <div class="controls">
                        <select id="openvpn-port">
                            <option value="443">443</option>
                            <option value="8292">8292</option>
                            <option value="80">80</option>
                            <option value="53">53</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="span4">
                <dl id="openvpn-state" class="dl-horizontal">
                </dl>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" id="openvpn-save">Save and reconnect</button>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block scripts_extra %}
<script src="static/js/general.js"></script>
{% endblock %}
